# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Coverage reports
coverage/

# Debug and error files
*.stackdump
*.pid
*.seed

# Specific files for your project
package-lock.json # If you're using Yarn, replace with yarn.lock
